body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #4c86af;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#login-screen,
#sign-in-screen,
#registration-screen,
#user-info-screen {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#sign-in-screen input,
#registration-screen input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#user-info-screen button {
    margin-top: 20px;
    background-color: #ff3333;
}
